body {
    background-image: url("../images/castle.jpg");
    background-size: cover;
}
h1 {
    text-align: center;
    font-size: 5em;
    margin-bottom: 10px;
}

.container {
    overflow: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 5px;
    background: rgba(255, 255, 255, .7);
}

.main, .letters, .word {
    width: 45%;
    float: left;
    border-style: dashed;
    border-width: 2px;
    text-align: center;
    font-size: 2em;
    margin: 5px;
    padding: 10px;
}

.main {
    height: 244px;
}

.letters {
    height: 154px;
}

.word {
    height: 56px;
}
.score {
    width: 80%;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 2em;
    margin-left: auto;
    margin-right: auto;
    padding: 13px;
    margin-top: 5px;
    marging-bottom: 5px;
}